html {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
}

body, p, div {
    font-size: larger;
}

h1 {
    font-size: xx-large;
}

h1, .center {
    text-align: center;
}

.discount {
    font-weight: bold;
    color: green;
}

#photos img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    object-fit: contain;
    width: 95%;
}
@media (min-width: 800px) {
    #photos img {
        width: 50vw;
    }
}

footer {
    margin-top: 19px;
}
