html {
    font-family: 'Open Sans', sans-serif;
    background: url('images/background.jpg');
    color: #fff;
}

a {
    color: lightblue;
}a:visited {
    color: pink;
}

h1, .center {
    text-align: center;
}

#photos img {
    width: 100%;
}

article {
    font-size: 3vw;
}