html {
    font-family: 'Open Sans', sans-serif;
    background: url('images/background.jpg');
    color: #fff;
}

body, p, div {
    font-size: 110%;
}

h1 {
    font-size: 110%;
}

h1, .center {
    text-align: center;
}

a {
    color: lightblue;
}
a:visited {
    color: pink;
}

.discount {
    font-weight: bold;
    color: green;
}

#photos img {
    display: block;
    width: 80vw;
    height: 77vw;
    margin: auto;
    margin-bottom: 10px;
    object-fit: contain;
}

footer {
    margin-top: 19px;
}
